/*
* @Author: Marte
* @Date:   2018-06-04 14:59:46
* @Last Modified by:   Marte
* @Last Modified time: 2018-06-04 15:15:32
*/
.box{
    width:100px;
    height: 100px;
    position: absolute;
    display:none;
}
.box li a{ float: left;}
.dropdown:hover .box{display:block;}